body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

.external-account-icon {
	width: 16px;
	height: 16px;
	margin: 0px 4px;
}

.section-invisible {
	opacity: 0.0;
}

.contributions-error {
	color: red;
	font-style: italic;
}

.resume-error {
	color: red;
	font-style: italic;
}
